@charset "UTF-8";
/* CSS Document */
        body {
			font-family: bold serif, serif, Times New Roman;
            background-color: #d5d5d4; /* background color for the entire thing */
            margin: 0px;
        }
        a {
            text-decoration: none;
        }
        h1 {
            font-size: 20px;
            letter-spacing: 3px;
			font-family: bold serif;
            color: #000000;
			text-decoration-color:#816D6E;
            background-image: url("BANNER COLORS - THEME.png");
          	width: 1400px;
			height: 425px;
            box-sizing: border-box;
            margin-top: 0px;
            border-top: 5px solid #d4d4d4;
            border-bottom: 5px solid #d4d4d4;
            padding: 35px 35px 0px; /* top padding = (height - font size) + 5 */
        }
		
		h1.background-image{
			flex: initial;
		}
        h1:hover {
            opacity: 0.75;
        }
        ul {
            background-color: #d4d4d4;
            position: relative;
            padding: 2px 40px;
        }
		
		/* Style the links inside the navigation bar */
        li {
            font-size: 20px;
			border-spacing: 10px;
            font-family: serif;
            text-transform: none;
            color: #000000;
            list-style-type:none;
            display: inline-block;
            padding: 5px 15px; 
        }
       
		.nav-right {
			float: left;
			letter-spacing: 5px;
		}
		
        li:hover {
            color: #d5d5d4;
            background-color: #F6F6F6;
        }
		
        h2 {
            font-size: 35px;
            font-weight: normal;
            margin: 30px 40px;
        }


